
<form method="post" action="/books">

<div class="col-md-3">
  <div class="form-group">
    <label for="name"> Name:</label>
    <input type="text" class="form-control" id="name" name="newbook[title]">
  </div>
</div>

<div class="col-md-3">

  <div class="form-group">
    <label for="genre">Genre:</label>
    <input type="text" class="form-control" id="genre" name="newbook[genre]">
  </div>
</div>

<div class="col-md-3">

  <div class="form-group">
    <label for="genre">Author:</label>
    <input type="text" class="form-control" id="genre" name="newbook[author]">
  </div>
</div>




  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default" value="Submit">Submit</button>
</form>
